<!-- app-header.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Logo or Brand Name -->
      <a class="navbar-brand" href="#">
        <img
          src="https://cdn-icons-png.flaticon.com/512/10373/10373918.png"
          alt="Logo"
          width="30"
          height="30"
          class="d-inline-block align-text-top"
        />
        Budget App
      </a>
      
      <!-- Hamburger Button for Mobile View -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Navigation Links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link"  *ngIf="(isLoggedIn$ | async)" routerLink="/budget">Hi {{ username$ | async }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home">Budget</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/transactions">Transactions</a>
          </li>
        </ul>
  
        <!-- Right-side Links (e.g., Logout) -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a
            *ngIf="!(isLoggedIn$ | async)"
              class="nav-link"
              href="/login"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a
            *ngIf="!(isLoggedIn$ | async)"
              class="nav-link"
              href="/register"
              >Register</a
            >
          </li>
          <li class="nav-item">
            <a
            *ngIf="(isLoggedIn$ | async)"
              class="nav-link"
              href="#"
              (click)="onLogout()"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  