
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
      <p class="col-md-4 mb-0  ">&copy; 2024 Johnson Ejeh & Ronald Ombao</p>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="https://cdn-icons-png.flaticon.com/512/10373/10373918.png" alt="Logo" width="40" height="32" class="bi me-2">
      </a>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="" class="nav-link px-2 ">Home</a></li>
        <li class="nav-item"><a href="" class="nav-link px-2 ">Features</a></li>
        <li class="nav-item"><a href="" class="nav-link px-2 ">Pricing</a></li>
        <li class="nav-item"><a href="" class="nav-link px-2 ">FAQs</a></li>
        <li class="nav-item"><a href="" class="nav-link px-2 ">About</a></li>
      </ul>
    </footer>

  <!-- <footer class="py-3">
    <div class="nav justify-content-center">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <img src="https://cdn-icons-png.flaticon.com/512/10373/10373918.png" alt="Logo" width="40" height="32" class="">
          </a> 
    </div>
    <p class="text-center pb-0">&copy; 2024 Johnson Ejeh & Ronald Ombao</p>
  </footer> -->
