body {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    padding-bottom: 145px;
    min-height: 100vh;
}
.btn-primary{
    background-color: #ea4335;
    border-color: #ea4335;
}
.btn-primary:hover{
    background-color: #cf3b2f;
    border-color: #cf3b2f;
}